<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iprogramming">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IProgramming">
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".home_html_video"
            android:exported="false" />
        <activity
            android:name=".home_html_latihan"
            android:exported="false" />
        <activity
            android:name=".home_html_materi"
            android:exported="false" />
        <activity
            android:name=".home_html_latihan_01_nilai"
            android:exported="false" />
        <activity
            android:name=".home_html_video_01"
            android:exported="false" />
        <activity
            android:name=".home_html_materi_01"
            android:exported="false" />
        <activity
            android:name=".home_html_latihan_01"
            android:exported="false" />
        <activity
            android:name=".home_html"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>